<% include ../../partials/header.ejs %>

<h2>Editar usuário</h2>
<form method="post" action="/admin/users/<%= user._id %>">
  <p>
    <input type="text" name="name" value="<%= user.name %>">
    <label>Nome</label>
  </p>
  <p>
    <input type="text" name="email" value="<%= user.email %>">
    <label>E-mail</label>
  </p>
  <p>
    <input type="text" name="username" value="<%= user.username %>">
    <label>Nome de usuário</label>
  </p>
  <p>
    <input type="password" name="password" value="<%= user.password %>">
    <label>Senha</label>
  </p>
  <p>
    <button type="submit">Editar</button>
  </p>
</form>

<% include ../../partials/footer.ejs %>
